<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Liam Landers</title>
  {% block head %} {% include 'head.html' %} {% endblock head %}
  </head>

  <body id="top">
    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">
      <header class="s-header">
        {% block content %} {% include 'navbar.html' %} {% endblock content %}
    </header>

      <!-- # site main content
        ================================================== -->
      <section id="content" class="s-content">
        <!-- intro
            ----------------------------------------------- -->
        <section id="intro" class="s-intro">
          <div class="row s-intro__content width-sixteen-col">
            <div class="column lg-12 s-intro__content-inner grid-block">
              <div class="s-intro__content-text">
                <div class="s-intro__content-pretitle text-pretitle">
                  Hello, I'm Liam
                </div>
                <h1 class="s-intro__content-title">
                  I create marketing <br />
                  strategies for your <br />
                  business that get <br />
                  results.
                </h1>
              </div>
              <!-- s-intro__content-text -->

              <div class="s-intro__content-media">
                <div class="s-intro__content-media-inner">
                  <img
                    src="{% static 'images/intro-bg.jpg' %}"
                    srcset="{% static 'images/intro-bg.jpg' %} 1x, {% static 'images/intro-bg@2x.jpg' %} 2x"
                    alt=""
                  />
                  <div class="lines">
                    <span></span>
                  </div>
                </div>
              </div>
              <!-- s-intro__content-media -->

              <div class="s-intro__scroll-down">
                <a href="{% url 'about' %}" class="smoothscroll">
                  <div class="scroll-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="36"
                      height="36"
                      fill="none"
                      stroke="#97b34a"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      &lt;!--! Atomicons Free 1.00 by @atisalab License -
                      https://atomicons.com/license/ (Icons: CC BY 4.0)
                      Copyright 2021 Atomicons --&gt;
                      <polyline points="7 13 12 18 17 13"></polyline>
                      <line x1="12" y1="18" x2="12" y2="6"></line>
                    </svg>
                  </div>
                  <span>Scroll for more</span>
                </a>
              </div>
              <!-- s-intro__scroll-down -->
            </div>
            <!-- s-intro__content-inner -->
          </div>
          <!-- s-intro__content -->
        </section>
        <!-- end s-intro -->

        <!-- about
            ----------------------------------------------- -->
        <section id="about" class="s-about target-section">
          <div class="row s-about__content width-sixteen-col">
            <div class="column grid-block grid-section-split">
              <img
                src="{% static 'images/geometric_shape.svg' %}"
                alt=""
                class="s-about__content-imgbg"
              />

              <div class="section-header grid-section-split__header">
                <div class="text-pretitle">About</div>
                <h2 class="text-display-title">
                  An inspiring headline about yourself.
                </h2>
              </div>
              <!-- end section-header -->

              <div class="s-about__content-main grid-section-split__primary">
                <p class="attention-getter">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Repellendus iste ipsam quod repellat. Hic tempora ullam
                  aperiam ipsum optio magni vel inventore voluptatibus nisi
                  maiores laboriosam fuga iure, velit eligendi ab vero minima?
                  Quae ducimus ab dignissimos iure, eos consequatur est deleniti
                  cum id aliquid neque.
                </p>

                <p class="attention-getter">
                  Autem tenetur commodi maiores. Lorem ipsum dolor sit, amet
                  consectetur adipisicing elit. Est eligendi fugit, facilis
                  velit reiciendis iure laudantium. Praesentium repellat
                  corrupti dolor sit sint obcaecati. Modi aut quo molestiae a
                  explicabo maiores necessitatibus nemo repellendus architecto?
                  Corrupti numquam ullam nostrum, eveniet at doloribus
                  blanditiis aliquid a est porro aspernatur pariatur culpa
                  soluta nesciunt odio quasi maxime debitis illum.
                </p>

              </div>
              <!-- end s-about__content-main -->

              <div class="s-about__content-btn grid-section-split__bottom">
                <a href="{% url 'about' %}" class="btn btn--stroke u-fullwidth"
                  >More About Me</a
                >
              </div>
              
              
              <!-- end s-about__content-btn -->
            </div>
            
            <!-- content-inner -->
          </div>
          
        </section>
        <!-- end s-about -->

        <!-- expertise
            ----------------------------------------------- -->
        <section id="expertise" class="s-expertise">
          <div class="row s-expertise__content width-sixteen-col">
            <div class="column xl-12 grid-block grid-section-split">
              <div class="section-header grid-section-split__header">
                <div class="text-pretitle">Expertise</div>
                <h2 class="text-display-title">My key areas of expertise.</h2>

                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Laborum suscipit debitis quam dignissimos veritatis atque
                  pariatur magnam obcaecati fugit reprehenderit vel numquam
                  facere esse est deserunt, perferendis commodi voluptatem
                  similique.
                </p>
              </div>
              <!-- end section-header -->

              <div
                class="s-expertise__content-main grid-section-split__primary"
              >
                <div class="grid-list-items list-items show-ctr">
                  <div class="grid-list-items__item list-items__item">
                    <div class="grid-list-items__title list-items__item-header">
                      <h3 class="list-items__item-title">Digital Marketing</h3>
                    </div>
                    <div class="grid-list-items__text list-items__item-text">
                      <p>
                        Quibusdam quis autem voluptatibus earum vel ex error ea
                        magni. Rerum quam quos. Aut asperiores sit mollitia. Rem
                        neque et voluptatem eos quia sed eligendi et. Eaque
                        velit eligendi ut magnam. Cumque ducimus laborum
                        doloribus facere maxime vel earum quidem enim suscipit.
                      </p>
                    </div>
                  </div>
                  <!-- list-item -->
                  <div class="grid-list-items__item list-items__item">
                    <div class="grid-list-items__title list-items__item-header">
                      <h3 class="list-items__item-title">Project Management</h3>
                    </div>
                    <div class="grid-list-items__text list-items__item-text">
                      <p>
                        Rerum quam quos. Quibusdam quis autem voluptatibus earum
                        vel ex error ea magni. Aut asperiores sit mollitia. Rem
                        neque et voluptatem eos quia sed eligendi et. Eaque
                        velit eligendi ut magnam. Cumque ducimus laborum
                        doloribus facere maxime vel earum quidem enim suscipit.
                      </p>
                    </div>
                  </div>
                  <!-- list-expertise__item -->
                  <div class="grid-list-items__item list-items__item">
                    <div class="grid-list-items__title list-items__item-header">
                      <h3 class="list-items__item-title">Content Marketing</h3>
                    </div>
                    <div class="grid-list-items__text list-items__item-text">
                      <p>
                        Eaque velit eligend. iQuibusdam quis autem voluptatibus
                        earum vel ex error ea magni. Rerum quam quos. Aut
                        asperiores sit mollitia. Rem neque et voluptatem eos
                        quia sed eligendi et. Eaque velit eligendi ut magnam.
                        Cumque ducimus laborum doloribus facere maxime vel earum
                        quidem enim suscipit.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- grid-list-items -->
              </div>
              <!-- end s-expertise__content-main -->

              <div class="s-expertise__content-btn grid-section-split__bottom">
                <a href="services.html" class="btn btn--stroke u-fullwidth"
                  >View All Services</a
                >
              </div>
              <!-- end s-about__content-btn -->
            </div>
            <!-- end grid-block-->
          </div>
          <!-- end s-expertise__content -->
        </section>
        <!-- end s-expertise -->
      </section>
      <!-- s-content-->

      <!-- # cta
        ================================================== -->
      <section id="cta" class="s-cta">
        <div class="row row-x-center text-center">
          <div class="column xl-8 lg-12">
            <div class="s-cta__content">
              <h2 class="text-display-title">
                Get started with a consultation today.
              </h2>
              <p class="lead">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis
                rem, esse doloribus sint eaque at debitis enim vitae minus
                expedita ratione dignissimos sit nostrum optio sequi. Ipsa at
                beatae quam.
              </p>
              <a href="{% url 'contact' %}" class="btn btn--primary"
                >Let's Work Together</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- end s-cta -->

      <!-- Start footer section -->
      <footer class="s-footer">
    
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
      </footer>
      <!-- End footer section -->
    </div>
    <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
