<!-- # footer 
        ================================================== -->
{% load static %}
  <div class="row s-footer__content">
    <div class="column xl-6 lg-6 md-12 s-footer__block s-footer__about">
      <h3>About Monica</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illum
        quasi facere libero, fugiat laboriosam possimus reprehenderit eveniet
        vero voluptatum fugit ad quis veritatis suscipit beatae incidunt
        perferendis tempore earum hic repellendus quisquam recusandae ipsa id
        esse. Nobis, aut deleniti. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Facere ratione dignissimos.
      </p>
    </div>
    <div class="column xl-3 lg-6 md-12 s-footer__block s-footer__site-links">
      <h3>Site Links</h3>
      <ul class="link-list">

        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>
    <div
      class="column xl-3 lg-6 md-12 tab-12 s-footer__block s-footer__newsletter"
    >
      <h3>Contact Me</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere ratione
        dignissimos.
      </p>

      <div class="contact-block">
        <h6>Email</h6>
        <a href="mailto:liamlanders0@gmail.com" class="btn btn--primary u-fullwidth contact-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg>
          Send Me An Email
      </a>
    </div>
      {% comment %} <div class="subscribe-form">
        <form id="mc-form" class="mc-form">
          <input
            type="email"
            name="EMAIL"
            id="mce-EMAIL"
            class="u-fullwidth text-center"
            placeholder="Your Email Address"
            title="The domain portion of the email address is invalid (the portion after the @)."
            pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
            required
          />
          <input
            type="submit"
            name="subscribe"
            value="Subscribe"
            class="btn btn--primary btn--small u-fullwidth"
          />
          <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cdb7b577e41181934ed6a6a44_9a91cfe7b3" tabindex="-1" value=""></div> -->
          <div class="mc-status"></div>
        </form>
      </div> {% endcomment %}
    </div>
  </div>
<!-- end s-footer -->
